<template>
    <div>
        <h4>Reset your password</h4>
       <div class="username1">
      <div class="username2">username:</div>
      <form>
        <input />
      </form>
    </div>
        <button>Send reset email</button>
    </div>
</template>
<style scoped>
.username1 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.username2 {
  display: table-cell;
  vertical-align: inherit;
  padding-bottom: 8px;
  padding-right: 8px;
}
h4{
    margin-top: -1px;
}
button{
    margin-top:10px;
}
input{
    margin-left: -4px;
}
</style>