<script>

</script>

<template>
    <div class="body">
        <div>
            <a href="https://www.ycombinator.com/"><img src="@/assets/yc500.gif" /></a>
        </div>
        <div class="text">
            <h4>Show HN</h4>
            <p>Show HN is for something you've made that other people can play with. HN users can try it out, give you feedback, and ask questions in the thread.</p>
            <p>On topic: things people can run on their computers or hold in their hands. For hardware, you can post a video or detailed article. For books, a sample chapter is ok.</p>
            <p>Off topic: blog posts, sign-up pages, newsletters, lists, and other reading material. Those can't be tried out, so can't be Show HNs. Make a regular submission instead.</p>
            <p>The project must be something you've worked on personally and which you're around to discuss. See these tips about how to present your work.</p>
            <p>A Show HN needn't be complicated or look slick. The community is comfortable with work that's at an early stage.</p>
            <p>lease make it easy for users to try your thing out, ideally without barriers such as signups or emails. You'll get more feedback that way.</p>
            <p>If your work isn't ready for users to try out, please don't do a Show HN. Once it's ready, come back and do it then. Don't post landing pages or fundraisers.</p>
            <p>To post, <a @click="$router.push('submit')">submit</a> a story whose title begins with "Show HN".</p>
            <p>Every Show HN appears on <a @click="$router.push('shownew')">shownew</a>. Once it clears a small points threshold, it will appear on the <a @click="$router.push('show')">show</a> page in the top bar.</p>
            <p>New features and upgrades ("Foo 1.3.1 is out") generally aren't substantive enough to be Show HNs. A major overhaul is probably ok.</p>
            <p>Please don't ask friends to upvote or comment. That's <a @click="$router.push('newsfaq')">not ok</a> on HN.</p>
            <h4>In Comments</h4>
            <p>Be respectful. Anyone sharing work is making a contribution, however modest.</p>
            <p>Ask questions out of curiosity. Don't cross-examine.</p>
            <p>Instead of "you're doing it wrong", suggest alternatives. When someone is learning, help them learn more.</p>
            <p>When something isn't good, you needn't pretend that it is, but don't be gratuitously negative.</p>
        </div>

        <hr />
         
    </div>
</template>

<style scoped>
.body {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 500px;
    background-color: #fafaf0;
    margin-top: 37.9px;
    padding-bottom: 115.28px;
    height: 800px;
}

p {
    font-size: 8.5pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-bottom: 7px;
}
hr {
    border-color: #ff6500;
    width: 500px;
    margin-left: -1px;
    margin-top: 31.5px;
   
}
h4{
    font-size: 8.5pt;
    font-family: Verdana, Tahoma, sans-serif;
}
a{
    cursor: pointer;
    text-decoration:underline;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>