<script>
</script>

<template>
    <div class="body">
        <div>
            <a href="https://www.ycombinator.com/">
                <img src="@/assets/yc500.gif" />
            </a>
        </div>
        <div class="text">
            <h4>Hacker News FAQ</h4>
            <h4>Are there rules about submissions and comments?</h4>
            <p>
                <a
                    href="https://news.ycombinator.com/newsguidelines.html"
                >https://news.ycombinator.com/newsguidelines.html</a>
            </p>
            <h4>How are stories ranked?</h4>
            <p>The basic algorithm divides points by a power of the time since a story was submitted. Comments in threads are ranked the same way.</p>
            <p>Other factors affecting rank include user flags, anti-abuse software, software which demotes overheated discussions, account or site weighting, and moderator action.</p>
            <h4>How is a user's karma calculated?</h4>
            <p>Roughly, the number of upvotes on their posts minus the number of downvotes. These don't match up exactly. Some votes are dropped by anti-abuse software.</p>
            <h4>Do posts by users with more karma rank higher?</h4>
            <p>No.</p>
            <h4>Why don't I see down arrows?</h4>
            <p>There are no down arrows on stories. They appear on comments after users reach a certain karma threshold, but never on direct replies.</p>
            <h4>What kind of formatting can you use in comments?</h4>
            <p>
                <a
                    href="http://news.ycombinator.com/formatdoc"
                >http://news.ycombinator.com/formatdoc</a>
            </p>
            <h4>How do I submit a question?</h4>
            <p>Use the submit link in the top bar, and leave the url field blank.</p>
            <h4>How do I submit a poll?</h4>
            <p>
                <a href="http://news.ycombinator.com/newpoll">http://news.ycombinator.com/newpoll</a>
            </p>
            <h4>How do I make a link in a text submission?</h4>
            <p>You can't. This is to prevent people from submitting a link with their comments in a privileged position at the top of the page. If you want to submit a link with comments, just submit it, then add a regular comment.</p>
            <h4>What are Ask HN and Show HN?</h4>
            <p>
                <a @click="$router.push('ask')">Ask HN</a> lists questions and other text submissions.
                <a @click="$router.push('show')">Show HN</a> is for sharing your personal work and has special
                <a @click="$router.push('showhn')">rules</a>.
            </p>
            <h4>Why hasn't my submission appeared on Ask HN or Show HN?</h4>
            <p>
                All submissions appear on
                <a @click="$router.push('newest')">newest</a>, and all Show HNs on
                <a @click="$router.push('shownew')">shownew</a>, but there is a small points threshold before a post appears on
                <a @click="$router.push('ask')">ask</a> or
                <a @click="$router.push('show')">show</a>.
            </p>
            <h4>What do green usernames mean?</h4>
            <p>Green indicates a new account.</p>
            <h4>Why are some comments faded?</h4>
            <p>Faded text means that a comment has been downvoted. You can read the comment in normal text by clicking on its timestamp to go to its page.</p>
            <h4>What does [flagged] mean?</h4>
            <p>
                It means that users flagged a post as breaking the
                <a @click="$router.push('newsguidelines')">guidelines</a> or otherwise not belonging on Hacker News.
            </p>
            <p>Moderators sometimes also add [flagged] (though not usually on submissions), and sometimes turn flags off when they are unfair.</p>
            <h4>How do I flag a comment?</h4>
            <p>Click on its timestamp to go to its page, then click the 'flag' link at the top. There's a small karma threshold before flag links appear.</p>
            <h4>Are reposts ok?</h4>
            <p>If a story has not had significant attention in the last year or so, a small number of reposts is ok. Otherwise we bury reposts as duplicates.</p>
            <p>Please don't delete and repost the same story. Deletion is for things that shouldn't have been submitted in the first place.</p>
            <h4>Are paywalls ok?</h4>
            <p>It's ok to post stories from sites with paywalls that have workarounds.</p>
            <p>
                In comments, it's ok to ask how to read an article and to help other users do so. But please don't post complaints about paywalls. Those are
                <a>off topic</a>. More
                <a
                    href="https://hn.algolia.com/?query=paywalls%20by:dang&dateRange=all&page=0&prefix=false&sort=byDate&type=comment"
                >here</a>.
            </p>
            <h4>Can I ask people to upvote my submission?</h4>
            <p>No. Users should vote for a story because they personally find it intellectually interesting, not because someone has content to promote. We penalize or ban submissions, accounts, and sites that break this rule, so please don't.</p>
            <h4>Can I ask people to comment on my submission?</h4>
            <p>No, for the same reason. It's also not in your interest: HN readers are sensitive to this and will detect it, flag it, and use unkind words like 'spam'.</p>
            <h4>Can I post a job ad?</h4>
            <p>Please don't post job ads as submissions to HN.</p>
            <p>
                A regular "Who Is Hiring?" thread appears on the first weekday of each month (or Jan 2). Most job ads are welcome there. Only an account called
                <a>whoishiring</a> is allowed to submit the thread itself. This prevents a race to post it first.
            </p>
            <p>Another kind of job ad is reserved for YC-funded startups. These appear on the front page, but are not stories: they have no vote arrows, points, or comments. They begin part-way down and fall steadily. Only one is on the front page at a time. The rest are listed at jobs.</p>
            <h4>What's the relationship between YC and HN?</h4>
            <p>
                <a href="https://www.ycombinator.com/">Y Combinator</a> owns and funds HN. The HN team is
                <a
                    href="https://venturebeat.com/2015/09/29/y-combinator-spins-out-hacker-news-to-give-it-full-editorial-independence/"
                >editorially</a>
                <a href="https://blog.ycombinator.com/two-hn-announcements/">independent</a>.
            </p>
            <p>
                HN gives three features to YC: job ads (see
                <a >above</a>) and startup
                <a href="https://news.ycombinator.com/launches">launches</a> get placed on the front page, and YC founder names are displayed to other YC alumni in orange.
            </p>
            <h4>Are negative stories about YC suppressed on HN?</h4>
            <p>
                No, we moderate
                <a
                    href="https://hn.algolia.com/?query=moderate%20less%20not%20more%20yc%20by:dang&dateRange=all&page=0&prefix=false&sort=byDate&type=comment"
                >less</a>,
                <a
                    href="https://hn.algolia.com/?query=moderate%20less%20not%20more%20yc%20by:dang&dateRange=all&page=0&prefix=false&sort=byDate&type=comment"
                >not more</a>, when YC or a YC startup is the topic. The good will of the community is worth more than any story.
            </p>
            <h4>Why can't I post a comment to a thread?</h4>
            <p>Threads are closed to new comments after two weeks, or if the submission has been killed by software, moderators, or user flags.</p>
            <h4>Why is A ranked below B even though A has more points and is newer?</h4>
            <p>You can't derive rank from votes and time alone. See "How are stories ranked?" above.</p>
            <h4>In my profile, what does showdead do?</h4>
            <p>If you turn it on, you'll see all the stories and comments that have been killed by software, moderators, or user flags.</p>
            <p>If you see a [dead] post that shouldn't be dead, you can vouch for it. When enough users do this, the post is unkilled. Click on its timestamp to go to its page, then click 'vouch' at the top. There's a small karma threshold before vouch links appear.</p>
            <h4>In my profile, what is delay?</h4>
            <p>It gives you time to edit your comments before they appear to others. Set it to the number of minutes you'd like. The maximum is 10.</p>
            <h4>In my profile, what is noprocrast?</h4>
            <p>It's a way to help you prevent yourself from spending too much time on HN. If you turn it on you'll only be allowed to visit the site for maxvisit minutes at a time, with gaps of minaway minutes in between. The defaults are 20 and 180, which would let you view the site for 20 minutes at a time, and then not allow you back in for 3 hours.</p>
            <h4>How do I reset my password?</h4>
            <p>
                If you have an email address in your profile, you can do that
                <a @click="$router.push('forgot')">here</a>. If you haven't, email hn@ycombinator.com for help.
            </p>
            <h4>Can I change my username?</h4>
            <p>Yes. Email hn@ycombinator.com and we'll help.</p>
            <h4>Can I delete my account?</h4>
            <p>
                We try not to delete entire account histories because that would gut the threads the account had participated in and is
                <a @click="$router.push('newscomment')">unfair</a> to commenters who replied. However, we care about protecting individual users and take care of privacy requests every day, so if we can help, please email hn@ycombinator.com. We don't want anyone to get in trouble from anything they posted to HN. More
                <a @click="$router.push('newscomment')">here</a>.
            </p>
            <h4>My IP address seems to be banned. How can I unban it?</h4>
            <p>
                If you request many pages too quickly, your IP address might get banned. This
                <a @click="$router.push('newscomment')">self-serve unbanning procedure</a> works most of the time. If not, email hn@ycombinator.com.
            </p>
            <hr />
        </div>
    </div>
</template>

<style scoped>
.body {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 500px;
    background-color: #fafaf0;
    margin-top: 37.9px;
    padding-bottom: 115.28px;
    height: 2920px;
}

p {
    font-size: 8.5pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-bottom: 7px;
}
hr {
    border-color: #ff6500;
    width: 500px;
    margin-left: -1px;
    margin-top: 31.5px;
}
h4 {
    font-size: 8.5pt;
    font-family: Verdana, Tahoma, sans-serif;
}
a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>