<script></script>

<template>
    <div class="body">
        <div>
            <a href="https://www.ycombinator.com/">
                <img src="@/assets/yc500.gif" />
            </a>
        </div>
        <div class="text">
            <h4>Hacker News Security</h4>
            <p>
                If you find a security hole, please let us know at
                <a
                    href="mailto:security@ycombinator.com"
                >security@ycombinator.com</a>. We try to respond (with fixes!) as soon as possible, and really appreciate the help.
            </p>
            <p>Thanks to the following people who have discovered and responsibly disclosed security holes in Hacker News:</p>
            <h4>
                2021-07-04:
                <a href="https://twitter.com/ryotkak">RyotaK</a>
            </h4>
            <ul>
                <li>URL tricks could display the wrong domain for some websites.</li>
            </ul>
            <h4>
                2021-06-07:
                <a href="https://news.ycombinator.com/user?id=atamyrat">Atamyrat Hezretgulyyev</a>
            </h4>
            <ul>
                <li>A CSRF logout was still possible in some cases.</li>
            </ul>
            <h4>
                2021-02-14:
                <a href="https://kyht.com/">Michael Brooks</a>
            </h4>
            <ul>
                <li>Set the SameSite cookie attribute for better CSRF protection.</li>
            </ul>
            <h4>
                2017-04-30:
                <a href="https://twitter.com/_iamjk">Michael Flaxman</a>
            </h4>
            <ul>
                <li>The minor version of bcrypt used for passwords was susceptible to a collision in some cases.</li>
            </ul>
            <h4>2017-04-14: Blake Rand</h4>
            <ul>
                <li>Links in comments were vulnerable to an IDN homograph attack.</li>
            </ul>
            <h4>2017-03-15: Blake Rand</h4>
            <ul>
                <li>The right-to-left override character could be used to obscure link text in comments.</li>
            </ul>
            <h4>
                2017-03-01:
                <a href="https://twitter.com/_iamjk">Jaikishan Tulswani</a>
            </h4>
            <ul>
                <li>Logged-in users could bypass 'old password' form field.</li>
            </ul>
            <h4>
                2016-02-17:
                <a href="http://www.tjosse.me">Eric Tjossem</a>
            </h4>
            <ul>
                <li>Logout and login were vulnerable to CSRF.</li>
            </ul>
            <h4>
                2016-01-13:
                <a href="https://twitter.com/merttasci_">Mert Taşçi</a>
            </h4>
            <ul>
                <li>The 'forgot password' link was vulnerable to reflected XSS.</li>
            </ul>
            <h4>
                2015-09-07:
                <a href="http://www.s4ndeep.com/">Sandeep Singh</a>
            </h4>
            <ul>
                <li>An open redirect was possible by passing a URL with a mixed-case protocol as the goto parameter.</li>
            </ul>
            <h4>
                2015-09-04:
                <a href="http://twitter.com/umenmactech">Manish Bhattacharya</a>
            </h4>
            <ul>
                <li>The site name display for stories was vulnerable to an IDN homograph attack.</li>
            </ul>
            <h4>
                2015-08-27:
                <a href="http://twitter.com/chrismarlow9">Chris Marlow</a>
            </h4>
            <ul>
                <li>Revisions to HN's markup caused an HTML injection regression.</li>
            </ul>
            <h4>
                2015-06-24:
                <a href="http://stephensclafani.com">Stephen Sclafani</a>
            </h4>
            <ul>
                <li>A form handling bug led to a XSS vulnerability using HTTP parameter polution.</li>
            </ul>
            <h4>2015-03-02: Max Bond</h4>
            <ul>
                <li>Information leaked during /r processing allowed an attacker to discover valid profile edit links and the user for which they were valid.</li>
            </ul>
            <ul>
                <li>
                    <i>goto</i> parameters functioned as open redirects.
                </li>
            </ul>

            <h4>2014-11-01: Ovidiu Toader</h4>
            <ul>
                <li>In rare cases some users' profiles (including email addresses and password hashes) were mistakenly published to the Firebase API. More here.</li>
            </ul>
            <h4>2014-10-27: San Tran</h4>
            <ul>
                <li>Some pages displaying forms were vulnerable to reflected XSS when provided malformed query string arguments.</li>
            </ul>
            <h4>
                2014-05-01:
                <a href="https://titanous.com/">Jonathan Rudenberg</a>
            </h4>
            <ul>
                <li>Some YC internal pages were vulnerable to persistent XSS.</li>
            </ul>
            <h4>
                2012-08-01:
                <a href="http://louislang.com/">Louis Lang</a>
            </h4>
            <ul>
                <li>Redirects were vulnerable to HTTP response splitting via the whence argument.</li>
            </ul>
            <ul>
                <li>Persistent XSS could be achieved via the X-Forwarded-For header.</li>
            </ul>

            <h4>
                2012-07-20:
                <a href="http://www.tinfoilsecurity.com/">Michael Borohovski</a>
            </h4>
            <ul>
                <li>Incorrect handling of unauthenticated requests meant anyone could change rsvp status for Demo Day.</li>
            </ul>
            <h4>
                2010-01-12:
                <a href="https://twitter.com/zainy">Zain Memon</a>
            </h4>
            <ul>
                <li>Someone creating a new account could sometimes take an existing username.</li>
            </ul>
            <h4>
                2009-06-03:
                <a href="https://www.dfranke.us">Daniel Fox Franke</a>
            </h4>
            <ul>
                <li>The state of the PRNG used to generate cookies could be determined from observed outputs. This allowed an attacker to fairly easily determine valid user cookies and compromise accounts. More here.</li>
            </ul>
            <p>
                <b>Missing From This List?</b> If you reported a vulnerability to us and don't see your name, please shoot us an email and we'll happily add you. We crawled through tons of emails trying to find all reports but inevitably missed some.
            </p>
        </div>
    </div>
</template>

<style scoped>
.body {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 500px;
    background-color: #fafaf0;
    margin-top: 37.9px;
    padding-bottom: 115.28px;
    height: 1720px;
}

p {
    font-size: 8.5pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-bottom: 7px;
}
ul {
    font-size: 8.5pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-bottom: 7px;
}
hr {
    border-color: #ff6500;
    width: 500px;
    margin-left: -1px;
    margin-top: 31.5px;
}
h4 {
    font-size: 8.5pt;
    font-family: Verdana, Tahoma, sans-serif;
}
a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>