<script>
import axios from 'axios'
import moment from 'moment'
export default {

    data() {
        return {
            show: [],
            pages: [],
            moment,
            page: 1,
            perPage: 100,

        }

    },

    methods: {
        getPosts() {
            axios.get('https://hacker-news.firebaseio.com/v0/showstories.json?print=pretty').then((res) => {
                res.data.forEach(element => {
                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${element}.json?print=pretty`).then((response) => {
                        this.show = [...this.show, response.data]
                    })
                        .catch((error) => {
                            console.log("err", error)
                        })
                });

            })
                .catch((err) => { console.log("err", err) })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.show.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(show) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return show.slice(from, to);
        }
    },
    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.show.slice(from, to);
        }
    },
    watch: {
        show() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    }

}

</script>

<template>
    <section>
        <div class="main">
            <header>
                <input type="button" value="Y" @click="$router.push('/')" class="icon" />
                <div class="title">
                    <span>
                        <input
                            type="button"
                            @click="$router.push('/news')"
                            value="Hacker News"
                            class="hn"
                        />

                        <button type="button" @click="$router.push('newest')">new</button>
                        |
                        <button @click="$router.push('past')">past</button>
                        |
                        <button
                            @click="$router.push('newcomments')"
                        >comments</button>
                        |
                        <button @click="$router.push('ask')">ask</button>
                        |
                        <button
                            @click="$router.push('show')"
                            class="buttonShow"
                        >show</button>
                        |
                        <button @click="$router.push('jobs')">jobs</button>
                        |
                        <button
                            class="submit"
                            @click="$router.push('submit')"
                        >submit</button>
                        |
                        <button class="buttonShowNew">shownew</button>
                        <span>
                            <button class="loginpage" @click="$router.push('login')">login</button>
                        </span>
                    </span>
                </div>
            </header>
            <div class="body">
                <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                    <div class="ind">{{ index + 1 }}.</div>
                    <div class="vote">
                        <img src="@/assets/grayarrow.gif" />
                    </div>
                    <div class="showNews">
                        <a>{{ item.title }}</a>
                        <a
                            v-if="item.url"
                            href
                            class="showLink"
                        >({{ item.url.split('//').pop().split('/')[0] }})</a>
                        <div class="information">
                            {{ item.score }} points by {{ item.by }} {{ moment(new Date(item.time)).startOf("YYYYMMDD").fromNow() }}
                            <button
                                class="hide"
                            >| hide |</button>
                            <button class="comments">| {{ item.descendants }} comments</button>
                        </div>
                        <div class="nameShow"></div>
                    </div>
                </div>
                <button
                    type="button"
                    class="learnMore"
                    @click="page++"
                    v-if="page < pages.length"
                >More</button>
                <footer>
                    <hr />
                    <div class="footerInfo">
                        <div class="footerLinks">
                            <a class="footerLink">Guidelives</a>
                            <font color="#828282">|</font>
                            <a href class="footerLink">FAQ</a>
                            <font color="#828282">|</font>
                            <a href class="footerLink">List</a>
                            <font color="#828282">|</font>
                            <a href class="footerLink">API</a>
                            <font color="#828282">|</font>
                            <a href class="footerLink">Security</a>
                            <font color="#828282">|</font>
                            <a href class="footerLink">Legal</a>
                            <font color="#828282">|</font>
                            <a href class="footerLink">Apply to YC</a>
                            <font color="#828282">|</font>
                            <a href class="footerLink">Contact</a>
                        </div>
                        <div class="footerSearch">
                            <font color="#828282" class="search">Search:</font>
                            <input
                                type="text"
                                name="search"
                                size="17"
                                spellcheck="false"
                                autocomplete="false"
                            />
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>
</template>

<style scoped>
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}
header {
    display: flex;
    align-items: stretch;
    background-color: #ff6600;
    height: 23px;
}
.icon {
    padding-right: 13px;
    padding-left: 5px;
    padding-top: 0.5px;
    padding-bottom: 17.5px;
    margin-left: 1.5px;
    margin-top: 1.5px;
    margin-bottom: 1px;
    height: 19px;
    width: 19px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    border: 1px white solid;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}
.title {
    display: inline-block;
}
.hn {
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-family: Verdana, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
button:active {
    color: white;
}
button {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    margin-right: -5px;
    margin-left: -5px;
}

.nameShow:visited {
    color: #828282;
}
.information {
    margin-left: 35px;
    font-size: 7pt;
    color: #828282;
    font-family: Verdana, Tahoma, sans-serif;
}

.cycle {
    padding-top: 5px;
}
.showNews {
    display: inline;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.showNews:visited {
    color: #828282;
}
.ind {
    display: inline;
    margin-right: 5px;
    color: #828282;
}
.vote {
    display: inline;
    margin-right: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    cursor: pointer;
}

hr {
    border-color: #ff6600;
    width: 100%;
}
.footerLink {
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 5px;
}
.footerLinks {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    margin-bottom: 10px;
    font-size: 8pt;
}
p {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin-left: 26px;
}

.footerSearch {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.search {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    margin-right: 5px;
}
.showLink {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
}
.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    margin: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 7px;
}

.comments {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
}
.hide {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
    margin-left: 0.1px;
    margin-right: 0.1px;
    padding: auto;
}
.buttonShowNew {
    margin-right: 1140px;
    position: relative;
    color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>