<script>
import axios from 'axios'
import moment from 'moment'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
export default {
    components: { Header, Footer },
    data() {
        return {
            ask: [],
            pages: [],
            moment,
            page: 1,
            perPage: 100,
        }

    },

    methods: {
        getPosts() {
            axios.get('https://hacker-news.firebaseio.com/v0/askstories.json?print=pretty').then((res) => {
                res.data.forEach(element => {
                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${element}.json?print=pretty`).then((response) => {
                        this.ask = [...this.ask, response.data]
                    })
                        .catch((error) => {
                            console.log("err", error)
                        })
                });

            })
                .catch((err) => { console.log("err", err) })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.ask.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(ask) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return ask.slice(from, to);
        }
    },
    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.ask.slice(from, to);
        }
    },
    watch: {
        ask() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    }

}

</script>

<template>
    <div class="main">
        <Header />
        <div class="body">
            <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                <div class="ind">{{ index + 1 }}.</div>
                <div class="vote">
                    <router-link to="/submit">
                        <img src="@/assets/grayarrow.gif" />
                    </router-link>
                </div>
                <div class="ask1">
                    <a href>{{ item.title }}</a>
                    <a
                        v-if="item.url"
                        href
                        class="askLink"
                    >({{ item.url.split('//').pop().split('/')[0] }})</a>
                    <div class="information">
                        {{ item.score }} points by {{ item.by }} {{ moment(new Date(item.time)).startOf("YYYYMMDD").fromNow() }}
                        <button
                            class="comments"
                        >&#124;&nbsp;{{ item.score }}&nbsp;comments</button>
                    </div>
                </div>
            </div>
            <button type="button" class="learnMore" @click="page++" v-if="page < pages.length">More</button>
            <Footer />
        </div>
    </div>
</template>

<style scoped>
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
a:visited {
    color: gray;
}
button:active {
    color: white;
}

.nameAsk:visited {
    color: #828282;
}
.information {
    margin-left: 35px;
    font-size: 7pt;
    color: #828282;
    font-family: Verdana, Tahoma, sans-serif;
}
.comments {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
}
.cycle {
    padding-top: 5px;
}
.ask1 {
    display: inline;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.ask1:visited {
    color: #828282;
}
.ind {
    display: inline;
    margin-right: 5px;
    color: #828282;
}
.vote {
    display: inline;
    margin-right: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    cursor: pointer;
}

.askLink {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
}
.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    margin: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 7px;
}
.buttonAsk {
    color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>