<script>
import axios from 'axios'
import moment from 'moment'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import commentsComponent from '../components/commentsComponent.vue'
export default {
    components: { Header, Footer, commentsComponent },
    data() {
        return {
            comments: [],
            pages: [],
            moment,
            page: 1,
            perPage: 5,
            visible: true,
        }

    },
    methods: {
        getPosts() {
            axios.get('https://hacker-news.firebaseio.com/v0/topstories.json?print=pretty').then((res) => {
                res.data.forEach(element => {
                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${element}.json?print=pretty`).then((response) => {

                        if (response.data.kids) {
                            console.log("dfsfs")
                            response.data.kids.forEach(kid => {

                                axios.get(` https://hacker-news.firebaseio.com/v0/item/${kid}.json?print=pretty`).then((rs) => {
                                    console.log("hbjnj")
                                    rs.data.kids.forEach(elem => {
                                        axios.get(`https://hacker-news.firebaseio.com/v0/item/${elem}.json?print=pretty`).then((rsp) => {
                                            this.kids = [...this.kids, rsp.data]
                                        })
                                    })
                                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${rs.data.parent}.json?print=pretty`).then((r) => {
                                        parent = [...this.parent, r.data]
                                    })
                                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${kid}.json?print=pretty`)
                                    this.comments = [...this.comments, rs.data]
                                    console.log('RS', this.comments)
                                })
                            })
                        }

                    })
                        .catch((error) => {
                            console.log("err", error)
                        })
                });
            })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.comments.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(comments) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return comments.slice(from, to);
        },


    },

    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.comments.slice(from, to);
        }
    },
    watch: {
        comments() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    },


}

</script>

<template>
    <div class="main">
        <Header />
        <div class="body">
            <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                <comments-component :item="item" />
            </div>
            <button type="button" class="learnMore" @click="page++" v-if="page < pages.length">More</button>
            <Footer />
        </div>
    </div>
</template>

<style scoped>
.cycle {
    padding-top: 5px;
    width: 1270px;
}
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}

button {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    margin-right: -5px;
    margin-left: -5px;
}

.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    padding-left: 18.5px;
    font-size: 10pt;
    padding-top: 7px;
    font-family: Verdana, Tahoma, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>