<script>
import axios from 'axios'
import moment from 'moment'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

export default {
    components: { Header, Footer },
    data() {
        return {
            jobs: [],
            pages: [],
            moment,
            page: 1,
            perPage: 100,

        }

    },

    methods: {
        getPosts() {
            axios.get('https://hacker-news.firebaseio.com/v0/jobstories.json?print=pretty').then((res) => {
                res.data.forEach(element => {
                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${element}.json?print=pretty`).then((response) => {
                        this.jobs = [...this.jobs, response.data]
                    })
                        .catch((error) => {
                            console.log("err", error)
                        })
                });

            })
                .catch((err) => { console.log("err", err) })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.jobs.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(jobs) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return jobs.slice(from, to);
        }
    },
    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.jobs.slice(from, to);
        }
    },
    watch: {
        jobs() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    }

}



</script>

<template>
    <div class="main">
        <Header />
        <div class="body">
            <p>
                These are jobs at YC startups. See more at
                <a
                    class="ycombinator"
                    href="https://www.ycombinator.com/jobs"
                >ycombinator.com/jobs.</a>
            </p>
            <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                <div class="jobs">
                    <a :href="item.url">{{ item.title }}</a>
                    <a
                        v-if="item.url"
                        :href="item.url"
                        class="jobsLink"
                    >({{ item.url.split('//').pop().split('/')[0] }})</a>
                    <div
                        class="information"
                    >{{ moment(new Date(item.time)).startOf("YYYYMMDD").fromNow() }}</div>
                    <div class="nameJobs"></div>
                </div>
            </div>
            <button type="button" class="learnMore" @click="page++" v-if="page < pages.length">More</button>
            <Footer />
        </div>
    </div>
</template>

<style scoped>
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}
.cycle {
    margin-left: 8px;
}
a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
a:visited {
    color: gray;
}
button:active {
    color: white;
}
button {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    margin-right: -5px;
    margin-left: -5px;
}

.jobs {
    display: inline;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.jobs:visited {
    color: #828282;
}

p {
    color: #828282;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin-left: 9.5px;
    margin-top: 5.5px;
}
.ycombinator {
    text-decoration: underline;
    color: #828282;
}

.jobsLink {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
}
.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    margin: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 7px;
}
.buttonJobs {
    color: white;
}
.information {
    font-size: 7pt;
    color: #828282;
    margin-bottom: 5px;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>