<script>

</script>

<template>
  <div class="log">
    <p>You have to be logged in to submit.</p>
    <form @submit.prevent="login">
      <h4>Login</h4>
      <div class="block">
        <label>username:</label>
        <input required v-model="username" type="text" />
      </div>
      <div>
        <label>password:</label>
        <input required v-model="password" type="password" />
      </div>
      <div class="login">
        <button>login</button>
      </div>
    </form>
  </div>

  <div class="forgotPassword">
    <a href>Forgot your password?</a>
  </div>

  <div class="createAccount">
    <form @submit.prevent>
      <h4>Create account</h4>
      <div class="block">
        <label>username:</label>
        <input required type="text" />
      </div>
      <div>
        <label>password:</label>
        <input required type="password" />
      </div>
      <div class="login">
        <button>create account</button>
      </div>
    </form>
  </div>
</template>


<style scoped>
.login {
  margin-top: 25px;
}
input {
  margin-bottom: 5px;
  margin-left: 8px;
}
.forgotPassword {
  margin-top: 18px;
}
</style>
