<script>
import axios from 'axios'
import moment from 'moment'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
export default {
    components: { Header, Footer },

    data() {
        return {
            news: [],
            pages: [],
            moment,
            page: 1,
            perPage: 100,
        }

    },

    methods: {
        getPosts() {
            axios.get('https://hacker-news.firebaseio.com/v0/topstories.json?print=pretty').then((res) => {
                res.data.forEach(element => {
                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${element}.json?print=pretty`).then((response) => {
                        this.news = [...this.news, response.data]
                    })
                        .catch((error) => {
                            console.log("err", error)
                        })
                });

            })
                .catch((err) => { console.log("err", err) })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.news.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(news) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return news.slice(from, to);
        },
        router(id){
           
            this.$router.push({ path: `/comments/${id}` })
        }
    },
    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.news.slice(from, to);
        },


    },
    watch: {
        news() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    }

}
</script>
<template>
    <div class="main">
        <Header />
        <div class="body" name="body">
            <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                <div class="ind">{{ index + 1 }}.</div>
                <div class="vote">
                    <router-link to="/submit">
                        <img src="@/assets/grayarrow.gif" />
                    </router-link>
                </div>

                <div class="news">
                    <a :href="item.url" class="news">{{ item.title }}</a>

                    <a
                        v-if="item.url"
                        class="newsLink"
                    >({{ item.url.split('//').pop().split('/')[0] }})</a>

                    <div class="information">
                        <span>{{ item.score }} polls by {{ item.by }}</span> <span>{{ moment(new Date(item.time)).startOf("YYYYMMDD").fromNow() }}&nbsp;&#124;&nbsp;</span>
                        <a
                            to="/submit"
                            class="hide"
                        >hide</a>
                      <span @click="router(item.id)">&nbsp;&#124;&nbsp; {{ item.descendants }} comments</span>  
                    </div>
                </div>
            </div>
            <button type="button" class="learnMore" @click="page++" v-if="page < pages.length">More</button>
            <Footer />
        </div>
    </div>
</template>

<style scoped>
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1715px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}
a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}


a:hover {
    text-decoration: underline;
}
.nameNews:visited {
    color: #828282;
}
.information {
    margin-left: 35px;
    font-size: 7pt;
    color: #828282;
    font-family: Verdana, Tahoma, sans-serif;
}
.hide {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
    margin-left: 0.1px;
    margin-right: 0.1px;
    padding: auto;
}
.cycle {
    padding-top: 5px;
    margin-left: 3px;
}
.news {
    display: inline;
}
.news:visited {
    color: #828282;
}
.ind {
    display: inline;
    margin-right: 2px;
    color: #828282;
}
.vote {
    display: inline;
    margin-right: 5px;
    cursor: pointer;
}

.newsLink {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
}
.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    margin: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 30px; 
    padding-top: 7px;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>