<script>
import axios from 'axios'
import moment from 'moment'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

export default {
    components: { Header, Footer },
    data() {
        return {
            newest: [],
            pages: [],
            moment,
            page: 1,
            perPage: 100,

        }

    },

    methods: {
        getPosts() {
            axios.get('https://hacker-news.firebaseio.com/v0/newstories.json?print=pretty').then((res) => {
                res.data.forEach(element => {
                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${element}.json?print=pretty`).then((response) => {
                        this.newest = [...this.newest, response.data]
                    })
                        .catch((error) => {
                            console.log("err", error)
                        })
                });

            })
                .catch((err) => { console.log("err", err) })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.newest.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(newest) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return newest.slice(from, to);
        }
    },
    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.newest.slice(from, to);
        }
    },
    watch: {
        newest() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    }

}
</script>

<template>
    <div class="main">
        <Header />
        <div class="body">
            <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                <div class="ind">{{ index + 1 }}.</div>
                <div class="vote">
                    <router-link to="/submit">
                        <img src="@/assets/grayarrow.gif" />
                    </router-link>
                </div>
                <div class="newest1">
                    <a :href="item.url">{{ item.title }}</a>
                    <a
                        :href="item.url"
                        class="newestLink"
                        v-if="item.url"
                    >({{ item.url.split('//').pop().split('/')[0] }})</a>
                    <div class="information">
                        {{ item.score }} points by {{ item.by }} {{ moment(new Date(item.time)).startOf("YYYYMMDD").fromNow() }}&nbsp;&#124;&nbsp;
                        <router-link to="/submit" class="hide">hide</router-link>

                        <a class="pastm">&nbsp;&#124;&nbsp;past&nbsp;&#124;</a>
                        <button class="discuss">discuss</button>
                    </div>
                    <div class="nameNewest"></div>
                </div>
            </div>
            <button class="learnMore">More</button>
            <Footer />
        </div>
    </div>
</template>

<style scoped>
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}
a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
a:visited {
    color: gray;
}
button:active {
    color: white;
}
button {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    /* padding-top: 3px; */
    /* margin-right: -5px;
    margin-left: -5px; */
}

.information {
    margin-left: 35px;
    font-size: 7pt;
    color: #828282;
    font-family: Verdana, Tahoma, sans-serif;
}
.hide {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
   
   
}
.pastm {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
   
}
.discuss {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
   
}
.cycle {
    padding-top: 5px;
}
.newest1 {
    display: inline;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.newest:visited {
    color: #828282;
}
.ind {
    display: inline;
    margin-right: 5px;
    color: #828282;
}

.newestLink {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
}
.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    margin: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 7px;
}
.vote {
    display: inline;
    margin-right: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>