<script>
import Layout from '../components/Layout.vue'
export default {
    components: { Layout },
    data() {
        return {

        }
    }
}
</script>

<template>
    <Layout>
        <button class="learnMore">More</button>
        <footer-component></footer-component>
    </Layout>
</template>

<style scoped>
.past {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
button:active {
    color: white;
}
button {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    margin-right: -5px;
    margin-left: -5px;
}

.past {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
}

.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    margin: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 7px;
}
</style>