<script>
import axios from 'axios'
import moment from 'moment'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
export default {
    components: { Header, Footer },
    data() {
        return {
            show: [],
            pages: [],
            moment,
            page: 1,
            perPage: 100,

        }

    },

    methods: {
        getPosts() {
            axios.get('https://hacker-news.firebaseio.com/v0/showstories.json?print=pretty').then((res) => {
                res.data.forEach(element => {
                    axios.get(`https://hacker-news.firebaseio.com/v0/item/${element}.json?print=pretty`).then((response) => {
                        this.show = [...this.show, response.data]
                    })
                        .catch((error) => {
                            console.log("err", error)
                        })
                });

            })
                .catch((err) => { console.log("err", err) })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.show.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(show) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return show.slice(from, to);
        }
    },
    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.show.slice(from, to);
        }
    },
    watch: {
        show() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    }

}

</script>

<template>
    <div class="main">
        <Header />
        <div class="body" name="body">
            <p>
                Please read the
                <a class="rules" @click="$router.push('/showhn')">rules</a>. You can also browse the
                <a class="rules" @click="$router.push('/shownew')">newest</a>. Show HNs.
            </p>

            <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                <div class="ind">{{ index + 1 }}.</div>
                <div class="vote">
                    <router-link to="/submit">
                        <img src="@/assets/grayarrow.gif" />
                    </router-link>
                </div>
                <div class="showNews">
                    <a :href="item.url">{{ item.title }}</a>
                    <a
                        :href="item.url"
                        v-if="item.url"
                        class="showLink"
                    >({{ item.url.split('//').pop().split('/')[0] }}) </a>
                    <div class="information">
                        {{ item.score }} points by {{ item.by }} {{ moment(new Date(item.time)).startOf("YYYYMMDD").fromNow() }}
                        <button
                            class="hide"
                        >&#124;&nbsp;hide&nbsp;&#124;</button>
                        <button class="comments"> {{ item.descendants }} comments</button>
                    </div>
                </div>
            </div>
            <button type="button" class="learnMore" @click="page++" v-if="page < pages.length">More</button>

            <Footer />
        </div>
    </div>
</template>

<style scoped>
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
a:visited {
    color: gray;
}
button:active {
    color: white;
}
button {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    margin-right: -5px;
    margin-left: -5px;
}

.nameShow:visited {
    color: #828282;
}
.information {
    margin-left: 35px;
    font-size: 7pt;
    color: #828282;
    font-family: Verdana, Tahoma, sans-serif;
}

.cycle {
    padding-top: 5px;
}
.showNews {
    display: inline;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.showNews:visited {
    color: #828282;
}
.ind {
    display: inline;
    margin-right: 5px;
    color: #828282;
}
.vote {
    display: inline;
    margin-right: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    cursor: pointer;
}
p {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin-left: 26px;
}
.rules {
    color: #828282;
    text-decoration: underline;
    cursor: pointer;
}
.showLink {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
}
.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    margin: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 7px;
}
.buttonShow {
    color: white;
}

.comments {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
}
.hide {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
    margin-left: 0.1px;
    margin-right: 0.1px;
    padding: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>