<script>


</script>

<template>
  <div>
    <p>You have to be logged in to submit.</p>
    <h4>Login</h4>
    <div class="username1">
      <div class="username2">username:</div>
      <form>
        <input />
      </form>
    </div>
    <div class="password1">
      <div class="password2">password:</div>
      <form>
        <input />
        <div class="login">
          <button>login</button>
        </div>
      </form>
    </div>
    <div class="forgotPassword">
      <a href>Forgot your password?</a>
    </div>
    <div class="createAccount">
      <h4>Create account</h4>
      <div class="username1">
        <div class="username2">username:</div>
        <form>
          <input />
        </form>
      </div>
      <div class="password1">
        <div class="password2">password:</div>
        <form>
          <input />
          <div class="login">
            <button>create account</button>
          </div>
        </form>
      </div>
    </div>
    <router-link to="/authorized">f</router-link>
  </div>
</template>


<style scoped>
.username1 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.username2 {
  display: table-cell;
  vertical-align: inherit;
  padding-bottom: 8px;
  padding-right: 8px;
}
.password1 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.password2 {
  display: table-cell;
  vertical-align: inherit;
}
.login {
  margin-left: -75px;
  margin-top: 25px;
}
.forgotPassword {
  margin-top: 18px;
}
</style>
