 <script>
import moment from 'moment'
export default {
    props: {
        item: Object
    },
    data() {
        return {
            visible: true,
            moment,
        }
    }

}
</script>
 <template>
    <div>
        <div class="vote">
            <router-link to="/submit"><img src="@/assets/grayarrow.gif" /></router-link>
        </div>
        <div class="information">
            {{ item.by }} {{ moment(new Date(item.time)).startOf("YYYYMMDD").fromNow() }}&#124;
            <a
                class="parent"
            >parent&#124;</a>
            <button class="parent" @click="visible = !visible">[-]</button>
            on {{ item.parent }}
        </div>

        <div v-html="item.text" class="text" v-show="visible"></div>
    </div>
</template>
<style scoped>
.vote {
    display: inline;
    margin-right: 5px;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    cursor: pointer;
}
.parent {
    background-color: #f6f6ef;
    font-size: 7pt;
    color: #828282;
}
.information {
    display: inline;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 7pt;
    color: #828282;
}
.text {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 9pt;
    padding-left: 15px;
    color: black;
    margin-right: 60px;
}
button {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    margin-right: -5px;
    margin-left: -5px;
}
</style>