<template>
    <footer>
        <hr />
        <div class="footerInfo">
            <div class="footerLinks">
                <router-link to="/newsguidelines" class="footerLink">Guidelives</router-link>
                <font color="#828282">|</font>
                <router-link to="/newsfaq" class="footerLink">FAQ</router-link>
                <font color="#828282">|</font>
                <router-link to="/lists" class="footerLink">Lists</router-link>
                <font color="#828282">|</font>
                <a href="https://github.com/HackerNews/API" class="footerLink">API</a>
                <font color="#828282">|</font>
                <router-link to="/security" class="footerLink">Security</router-link>
                <font color="#828282">|</font>
                <a href="https://www.ycombinator.com/legal" class="footerLink">Legal</a>
                <font color="#828282">|</font>
                <a href="https://www.ycombinator.com/apply" class="footerLink">Apply to YC</a>
                <font color="#828282">|</font>
                <a class="footerLink" href="mailto:hn@ycombinator.com">Contact</a>
            </div>
            <div class="footerSearch">
                <font color="#828282" class="search">Search:</font>
                <input type="text" name="search" size="17" spellcheck="false" autocomplete="false" />
            </div>
        </div>
    </footer>
</template>
<style scoped>
.search {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    margin-right: 5px;
}
hr {
    border-color: #ff6600;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    cursor: pointer;
}
a:visited{
      text-decoration: none;
    color:#828282;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    cursor: pointer;
}
.footerLink {
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 5px;
}
.footerLinks {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    margin-bottom: 10px;
    font-size: 8pt;
}
.footerSearch {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.search {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    margin-right: 5px;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>