<script>
</script>
<template>
    <header>
        <div class="title">
            <img src="@/assets/y18.gif" onclick="window.location.reload()" class="icon" />
            <div class="q">
                <router-link to="/news" class="hn">Hacker News</router-link>
                <router-link to="/newest" class="new">new</router-link>
                |
                <router-link to="/past">past</router-link>
                |
                <router-link to="/newcomments">comments</router-link>
                |
                <router-link to="/ask">ask</router-link>
                |
                <router-link to="/show">show</router-link>
                |
                <router-link to="/jobs">jobs</router-link>
                |
                <router-link to="/submit" class="submit">submit</router-link>
                <router-link to="/login" class="loginpage">login</router-link>
            </div>
        </div>
    </header>
</template>

<style scoped>
.title {
    display: inline-block;
}
.new {
    margin-left: 5px;
}
a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
header {
    display: flex;
    align-items: stretch;
    background-color: #ff6600;
    height: 23px;
}
.q {
    margin-top: -25px;
    margin-left: 20px;
}
.icon {
    margin-left: 1.5px;
    margin-top: 1.5px;
    margin-bottom: 2px;
    margin-top: 1.5px;
    height: 18px;
    width: 18px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    border: 1px white solid;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}

.hn {
    margin-left: 5px;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    font-weight: 820;
    font-family: Verdana, Tahoma, sans-serif;
}

router-link {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    margin-right: -5px;
    margin-left: -5px;
}
.submit {
    margin-right: 1220px;
    position: relative;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
</style>