<!-- <script>
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

export default {
    components:{Header, Footer},

}
</script>

<template>

<div class="container">
<Header />
<main>
    <slot name="main">

    </slot>
</main>
 <Footer />
 </div>

</template>


<style>
</style> -->