<script>
export default {
   data(){
       return{
           layout:`div`,
       }
   }
}
</script>

<template>
    <div id="HackerNews">
        <component :is="layout">
            <router-view layout.sync="layout"/>
        </component>
    </div>
</template>

<style>
</style>