<script>
import axios from 'axios'
import moment from 'moment'
import Header from '/src/components/Header.vue'
import Footer from '/src/components/Footer.vue'
import commentsComponent from '/src/components/commentsComponent.vue'
export default {
    components: { Header, Footer, commentsComponent },
    data() {
        return {
            story: null,
            comments: [],
            pages: [],
            moment,
            page: 1,
            perPage: 5,
            visible: true,
        }

    },
    methods: {
        getPosts() {
            axios.get(`https://hacker-news.firebaseio.com/v0/item/${this.$route.params.id}.json?print=pretty`).then((response) => {
                this.story = response

                console.log("this.$route.params.id", response)
                response.data.kids.forEach(kid => {

                    axios.get(` https://hacker-news.firebaseio.com/v0/item/${kid}.json?print=pretty`).then((rs) => {
                        console.log("hbjnj")
                        rs.data.kids.forEach(elem => {
                            axios.get(`https://hacker-news.firebaseio.com/v0/item/${elem}.json?print=pretty`).then((rsp) => {
                                this.kids = [...this.kids, rsp.data]
                            })
                        })
                        axios.get(`https://hacker-news.firebaseio.com/v0/item/${rs.data.parent}.json?print=pretty`).then((r) => {
                            parent = [...this.parent, r.data]
                        })
                        axios.get(`https://hacker-news.firebaseio.com/v0/item/${kid}.json?print=pretty`)
                        this.comments = [...this.comments, rs.data]
                        console.log('RS', this.comments)
                    })
                })
            })
                .catch((err) => { console.log("err", err) })
        },
        setPages() {
            let numberOfPage = Math.ceil(this.comments.length / this.perPage);
            for (let i = 1; i <= numberOfPage; i++) {
                this.pages.push(i);
            }
            return

        },
        paginate(comments) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return comments.slice(from, to);
        },


    },

    computed: {
        displayedNews() {
            let from = (this.page * this.perPage) - this.perPage;
            let to = (this.page * this.perPage);
            return this.comments.slice(from, to);
        }
    },
    watch: {
        comments() {
            this.setPages();
        }
    },
    created() {
        this.getPosts();
    },


}

</script>

<template>
    <div class="main">
        <Header />
        <div class="body">
            <div>
                <div class="vote">
                    <router-link to="/submit">
                        <img src="@/assets/grayarrow.gif" />
                    </router-link>
                </div>
                <a :href="story.data.url" class="newsTitle">{{ story.data.title }}</a>
                <a v-if="story.data.url" class="newsLink" >({{ story.data.url.split('//').pop().split('/')[0] }})</a>               
                <div class="information">
                    <span>{{ story.data.score }} polls by {{ story.data.by }}&nbsp;</span>
                    <span>{{ moment(new Date(story.data.time)).startOf("YYYYMMDD").fromNow() }}&nbsp;&#124;&nbsp;</span>
                    <a to="/submit" class="hide-past-favorite">hide</a>
                    <span>&nbsp;&#124;&nbsp;</span>
                    <a to="/submit" class="hide-past-favorite">past</a>
                    <span>&nbsp;&#124;&nbsp;</span>
                    <a to="/submit" class="hide-past-favorite">favorite</a>
                    <span>&nbsp;&#124;&nbsp;</span>
                    <span @click="router(story.data.id)">{{ story.data.descendants }}&nbsp;comments</span>
                </div>
                <textarea name="text" rows="6" cols="60"></textarea>
                <div><button class="add" @click="$router.push('/submit')">add comment</button></div>
            </div>
            <div class="cycle" v-for="(item, index) in displayedNews" :key="index">
                <comments-component :item="item" />
            </div>
            <button type="button" class="learnMore" @click="page++" v-if="page < pages.length">More</button>
            <Footer />
        </div>
    </div>
</template>

<style scoped>
.cycle {
    padding-top: 5px;
    width: 1270px;
}
.main {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1730px;
}
.body {
    padding-top: 8px;
    padding-left: 3px;
    background-color: #f6f6ef;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
.learnMore {
    border: none;
    background-color: #f6f6ef;
    cursor: pointer;
    padding-left: 18.5px;
    font-size: 10pt;
    padding-top: 7px;
    font-family: Verdana, Tahoma, sans-serif;
}
.newsTitle:visited {
    color: #828282;
}
.information {
    margin-left: 18px;
    font-size: 7pt;
    color: #828282;
    font-family: Verdana, Tahoma, sans-serif;
}
.vote {
    display: inline;
    margin-right: 5px;
    cursor: pointer;
}
.hide-past-favorite {
    border: none;
    cursor: pointer;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 7pt;
    margin-left: 0.1px;
    margin-right: 0.1px;
    padding: auto;
}
.newsLink {
    color: #828282;
    font-size: 8pt;
    padding-left: 6px;
}
textarea{
    margin-top:15px;
    margin-left:18px;
  
}
.add{
    margin-top:10px;
    margin-left:18px;
    margin-bottom:40px;
    font-family: monospace;
    color:black;
    font-size:10pt;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
</style>
